.footer{
	
	    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: black;
    color: white;

	
}

.content{
	width:70%;
	margin:auto;
}

span {
    width: 100px;
    display: inline-block;
}